body {
    background-color: #C4EFF2;
    padding: 0px;
}

h1 {
    color: #14575C;
    background-color: #82D3D9;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #14575C;
    padding: 10px;
}

p {
    color: #14575C;
}

ul {
    list-style: none;
    float:none;
}
li
{
    margin:10px;
    display:inline-block;
}

nav{
    text-align: center;
    display: inline;
    font-size:20px;
}
footer
{
    font-size: large;
    color: #14575C;
}